@page "/employee-details/{Id}"


<h3>@Employee.FirstName @Employee.LastName</h3>
<h4>Login information</h4>

<a href="@($"edit-employee/{Employee.Id}")" class="btn btn-outline-primary">Edit Employee</a>
<table class="table table-striped">
    <tbody>
        <tr>
            <th width="33%">Login</th>
            <td>@Employee.Username</td>
        </tr>
        <tr>
            <th width="33%">Password</th>
            <td>@Employee.TemporaryPassword</td>
        </tr>
    </tbody>
</table>
<h4>Contact information</h4>
<table class="table table-striped">
    <tbody>
        <tr>
            <th width="33%">Title</th>
            <td>@Employee.Title</td>
        </tr>
        <tr>
            <th width="33%">Mobile</th>
            <td>@Employee.FirstName</td>
        </tr>
        <tr>
            <th width="33%">Mobile</th>
            <td>@Employee.LastName</td>
        </tr>
        <tr>
            <th width="33%">Email</th>
            <td>@Employee.Email</td>
        </tr>
        <tr>
            <th width="33%">Telephone</th>
            <td>@Employee.Phone</td>
        </tr>
    </tbody>
</table>