@page "/employee-management-overview"

<h3>Employee Management Overview</h3>

<AuthorizeView>
    <Authorized>
        @if (EmployeeList == null)
        {
            <p class="alert-info">Loading employee list...</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Username</th>
                        <th>Temp Password</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Last Change</th>
                        <th>Last AD Export</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in EmployeeList)
                    {

                        <tr>
                            <td>@employee.Title</td>
                            <td>@employee.FirstName</td>
                            <td>@employee.LastName</td>
                            <td>@employee.Username</td>
                            <td>@employee.TemporaryPassword</td>
                            <td>@employee.Email</td>
                            <td>@employee.Phone</td>
                            <td>@employee.LastChange</td>
                            <td>@employee.LastExport</td>
                            <td>
                                <a href="@($"employee-details/{employee?.Id}")" class="btn btn-outline-primary">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
          <label class="alert-warning">You are not authorized to see this stuff</label>
    </NotAuthorized>
</AuthorizeView>