@page "/create-employee"
@page "/edit-employee/{Id}"

<h3>EmployeeEditor</h3>
<h4>@InvalidValidationMessage</h4>

<EditForm Model="@Employee" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />
    <InputSelect class="form-control" id="title" @bind-Value="Employee.Name.Title">
        <option value="">Select classification ...</option>
        <option value="Doctor">Dr.</option>
        <option value="Professor">Prof.</option>
        <option value="King">King</option>
        <option value="Queen">Queen</option>
    </InputSelect>
    <InputText class="form-control" id="firstName" @bind-Value="Employee.Name.First" />
    <ValidationMessage For="@(() => Employee.Name.First)" />
    <InputText class="form-control" id="lastName" @bind-Value="Employee.Name.Last" />
    <ValidationMessage For="@(() => Employee.Name.Last)" />
    <InputText class="form-control" id="email" @bind-Value="Employee.Email" />
    <ValidationMessage For="@(() => Employee.Email)" />

    <button class="btn btn-outline-success" type="submit">Submit</button>
</EditForm>