@page "/employee-management-overview"

<h3>Employee Management Overview</h3>

@if (EmployeeList == null)
{
    <p class="alert-info">Loading...</p>
}
else
{
     <table class="table table-striped">
         <thead>
             <tr>
                 <td>Employee ID</td>
                 <td>Firstname</td>
                 <td>Lastname</td>
                 <td>Birthdate</td>
                 <td>Action</td>
             </tr>
         </thead>
         <tbody>
             @foreach (var employee in EmployeeList)
             {

                 <tr>
                     <td>@employee.EmployeeId</td>
                     <td>@employee.FirstName</td>
                     <td>@employee.LastName</td>
                     <td>@employee.Birthday</td>
                     <td>
                         <a href="@($"employee-details/{employee.EmployeeId}")" class="btn btn-outline-primary">Details</a>
                     </td>
                 </tr>
             }
         </tbody>
     </table>
}

