@page "/employee-details/{Id}"


<h3>@Employee.Name.First @Employee.Name.Last</h3>
<img src="@Employee.Picture.Large" class="img-fluid" width="300" />
<h4>Login information</h4>

<a href="@($"edit-employee/{Employee.Login.Uuid}")" class="btn btn-outline-primary">Edit Employee</a>
<table class="table table-striped">
    <tbody>
        <tr>
            <th width="33%">Login</th>
            <td>@Employee.Login.Username</td>
        </tr>
        <tr>
            <th width="33%">Registered at</th>
            <td>@Employee.Registered.Date</td>
        </tr>
        <tr>
            <th width="33%">Registration age</th>
            <td>@Employee.Registered.Age</td>
        </tr>
    </tbody>
</table>
<h4>Address</h4>
<table class="table table-striped">
    <tbody>
        <tr>
            <th width="33%">City</th>
            <td>@Employee.Location.City</td>
        </tr>
        <tr>
            <th width="33%">Postcode</th>
            <td>@Employee.Location.Postcode</td>
        </tr>
        <tr>
            <th width="33%">Street</th>
            <td>@Employee.Location.Street.Name @Employee.Location.Street.Number</td>
        </tr>
        <tr>
            <th width="33%">Country</th>
            <td>@Employee.Location.Country</td>
        </tr>
    </tbody>
</table>
<h4>Contact information</h4>
<table class="table table-striped">
    <tbody>
        <tr>
            <th width="33%">Email</th>
            <td>@Employee.Email</td>
        </tr>
        <tr>
            <th width="33%">Telephone</th>
            <td>@Employee.Phone</td>
        </tr>
        <tr>
            <th width="33%">Mobile</th>
            <td>@Employee.Cell</td>
        </tr>
    </tbody>
</table>
<h4>Personal information</h4>
<table class="table table-striped">
    <tbody>
        <tr>
            <th width="33%">Birthday</th>
            <td>@Employee.Dob.Date</td>
        </tr>
        <tr>
            <th width="33%">Age</th>
            <td>@Employee.Dob.Age</td>
        </tr>
        <tr>
            <th width="33%">Gender</th>
            <td>@Employee.Gender</td>
        </tr>
        <tr>
            <th width="33%">Nationality</th>
            <td>@Employee.Nat</td>
        </tr>
    </tbody>
</table>