@page "/employee-management-overview"

<h3>Employee Management Overview</h3>

@if (EmployeeList == null)
{
    <p class="alert-info">Loading employee list...</p>
}
else
{
     <table class="table table-striped">
         <thead>
             <tr>
                 <th></th>
                 <th>Username</th>
                 <th>Firstname</th>
                 <th>Lastname</th>
                 <th>Birthdate</th>
                 <th>Action</th>
             </tr>
         </thead>
         <tbody>
             @foreach (var employee in EmployeeList)
             {

             <tr>
                 <td><img src="@employee.Picture.Thumbnail" class="img-fluid" /></td>
                 <td>@employee.Login.Username</td>
                 <td>@employee.Name.First</td>
                 <td>@employee.Name.Last</td>
                 <td>@employee.Dob.Date</td>
                 <td>
                     <a href="@($"employee-details/{employee.Login.Uuid}")" class="btn btn-outline-primary">Details</a>
                 </td>
             </tr>
             }
         </tbody>
     </table>
}

